<% if logged_in? %>
<%= form_for(@answer) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="mt-2 mb-2 field">
  <%= f.text_area :content, placeholder: "Compose new answer...", class: "form-control" %>
</div>

<%= f.hidden_field :micropost_id, :value => @micropost.id %>
<%= f.hidden_field :user_name, :value => current_user.name %>

<%= f.submit "Post Answer", class: "btn btn-primary" %>

<span class="picture">
  <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class:"mt-2"%>
</span>
<% end %>
<% else %>
<div class="alert alert-info" role="alert">
  You must be logged in to compose a new answer!
</div>
<% end %>

<script type="text/javascript">
$('#micropost_picture').bind('change', function () {
  var size_in_megabytes = this.files[0].size / 1024 / 1024;
  if (size_in_megabytes > 5) {
    alert('Maximum file size is 5MB. Please choose a smaller file.');
  }
});
</script>
