<div class="container">
<div class="pb-5">
  <h3 class="mt-3">
    Question
  </h3>

  <div class="card mb-4 border border-dark">
    <div class="card-header">
      <h5>
        <%= @micropost.subject %>
      </h5>
      <hr>
      <div class="card-body">
        <p class="card-text">
          <%= simple_format(@micropost.content) %>
        </p>
      </div>
      <hr>
      <h6 class="float-left">
        From
        <%= @micropost.user.name %>
      </h6>
      <h6 class="float-right">
        Posted on
        <%= @micropost.created_at.strftime("%b %d, %Y") %>
      </h6>
    </div>
  </div>

  <hr class="btn-primary">
  <h3>
    Answers
  </h3>
  <% if @micropost.answers.any? %>
    <% @micropost.answers.each do |answer| %>

      <div class="card mb-4">
        <div class="card-header">
          <div class="card-body">
            <p>
              <%= simple_format(answer.content) %>
            </p>
          </div>
          <hr>
          <h6 class="float-left">
            From
            <%= answer.user_name %>
          </h6>
          <h6 class="float-right">
            Posted on
            <%= answer.created_at.strftime("%b %d, %Y") %>
          </h6>

        </div>
      </div>

    <% end %>
  <% else %>

    <h5 class="mt-2 ml-1">
      No current answers for this post yet!
    </h5>
  <% end %>
  <hr class="btn-primary">
  <div class="mt-3 mb-5">
    <%= render 'shared/answer_form' %>
  </div>
</div>
</div>
